.Beer {
  background-color: rgba(255, 255, 255, 0.9);
  color: rgba(0, 0, 0, 0.9);
  margin: 1em;
  padding: 1em;
  text-align: left;
}

span {
  margin-block-start: 0.25em;
  margin-block-end: 0.25em;
}

.Beer-img {
  float: left;
  height: 6em;
}

.Beer-name {
  font-weight: 700;
}